/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-may-2016, 0:08:42
    Author     : Maigber
*/

.colorletra{
    color:#190707;
}

.paddingJumbo {
    padding-top: 6px;
}

.backColor{
    background-color: #4B98DA;
}
